CREATE TABLE TBL_APPROVAL
(
    APPROVAL_ID    NUMBER NOT NULL,
    COMMENTS    VARCHAR2(255),
    DOCUMENT_ID    NUMBER NOT NULL,
    APPROVAL_DATE    TIMESTAMP,
    APPROVAL_ORDER    NUMBER NOT NULL,
    MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_APPROVAL.APPROVAL_ID IS '결재번호';

COMMENT ON COLUMN TBL_APPROVAL.COMMENTS IS '결재의견';

COMMENT ON COLUMN TBL_APPROVAL.DOCUMENT_ID IS '전자결재번호';

COMMENT ON COLUMN TBL_APPROVAL.APPROVAL_DATE IS '승인날짜';

COMMENT ON COLUMN TBL_APPROVAL.APPROVAL_ORDER IS '결재순서';

COMMENT ON COLUMN TBL_APPROVAL.MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_APPROVAL IS '결재';

CREATE UNIQUE INDEX TBL_APPROVAL_PK ON TBL_APPROVAL
( APPROVAL_ID );

ALTER TABLE TBL_APPROVAL
 ADD CONSTRAINT TBL_APPROVAL_PK PRIMARY KEY ( APPROVAL_ID )
 USING INDEX TBL_APPROVAL_PK;

CREATE TABLE TBL_AUTHLIST
(
    MEMBER_CODE    NUMBER NOT NULL,
    AUTHORITY_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_AUTHLIST.MEMBER_CODE IS '회원코드';

COMMENT ON COLUMN TBL_AUTHLIST.AUTHORITY_CODE IS '권한코드';

COMMENT ON TABLE TBL_AUTHLIST IS '권한목록';

CREATE UNIQUE INDEX TBL_AUTHLIST_PK ON TBL_AUTHLIST
( MEMBER_CODE,AUTHORITY_CODE );

ALTER TABLE TBL_AUTHLIST
 ADD CONSTRAINT TBL_AUTHLIST_PK PRIMARY KEY ( MEMBER_CODE,AUTHORITY_CODE )
 USING INDEX TBL_AUTHLIST_PK;


CREATE TABLE TBL_AUTHORITY
(
    AUTHORITY_CODE    NUMBER NOT NULL,
    AUTHORITY_NAME    VARCHAR2(255) NOT NULL
);

COMMENT ON COLUMN TBL_AUTHORITY.AUTHORITY_CODE IS '권한코드';

COMMENT ON COLUMN TBL_AUTHORITY.AUTHORITY_NAME IS '권한명';

COMMENT ON TABLE TBL_AUTHORITY IS '권한테이블';

CREATE UNIQUE INDEX 권한테이블_1_PK ON TBL_AUTHORITY
( AUTHORITY_CODE );

ALTER TABLE TBL_AUTHORITY
 ADD CONSTRAINT 권한테이블_1_PK PRIMARY KEY ( AUTHORITY_CODE )
 USING INDEX 권한테이블_1_PK;


CREATE TABLE TBL_BOARD
(
    BOARD_CODE    NUMBER NOT NULL,
    BOARD_NAME    VARCHAR2(255) NOT NULL,
    REF_BOARD    NUMBER
);

COMMENT ON COLUMN TBL_BOARD.BOARD_CODE IS '게시판코드';

COMMENT ON COLUMN TBL_BOARD.BOARD_NAME IS '게시판명';

COMMENT ON COLUMN TBL_BOARD.REF_BOARD IS '참조';

COMMENT ON TABLE TBL_BOARD IS '게시판';

CREATE UNIQUE INDEX TBL_BOARD_PK ON TBL_BOARD
( BOARD_CODE );

ALTER TABLE TBL_BOARD
 ADD CONSTRAINT TBL_BOARD_PK PRIMARY KEY ( BOARD_CODE )
 USING INDEX TBL_BOARD_PK;


CREATE TABLE TBL_BOARDFILE
(
    POST_CODE    NUMBER NOT NULL,
    FILE_NO    NUMBER NOT NULL,
    FILE_NAME    VARCHAR2(500) NOT NULL,
    FILE_ORIGINAL    VARCHAR2(500) NOT NULL
);

COMMENT ON COLUMN TBL_BOARDFILE.POST_CODE IS '게시글코드';

COMMENT ON COLUMN TBL_BOARDFILE.FILE_NO IS '첨부파일번호';

COMMENT ON COLUMN TBL_BOARDFILE.FILE_NAME IS '파일명';

COMMENT ON COLUMN TBL_BOARDFILE.FILE_ORIGINAL IS '원본파일명';

COMMENT ON TABLE TBL_BOARDFILE IS '게시글첨부파일';

CREATE UNIQUE INDEX TBL_BOARDFILE_PK ON TBL_BOARDFILE
( FILE_NO );

ALTER TABLE TBL_BOARDFILE
 ADD CONSTRAINT TBL_BOARDFILE_PK PRIMARY KEY ( FILE_NO )
 USING INDEX TBL_BOARDFILE_PK;


CREATE TABLE TBL_CLNDR
(
    INDEX_NUM    NUMBER NOT NULL,
    OPEN_STATUS    SMALLINT NOT NULL,
    CREATE_DATE    TIMESTAMP NOT NULL,
    CLNDR_CODE    NUMBER NOT NULL,
    CLNDR_NAME    VARCHAR2(512) NOT NULL,
    LABEL_COLOR    VARCHAR2(30) NOT NULL,
    DEFAULT_SELC    SMALLINT NOT NULL,
    REF_MEMBER_CODE    NUMBER NOT NULL,
    DPRMT_CODE    NUMBER
);

COMMENT ON COLUMN TBL_CLNDR.INDEX_NUM IS '순서';

COMMENT ON COLUMN TBL_CLNDR.OPEN_STATUS IS '공개여부';

COMMENT ON COLUMN TBL_CLNDR.CREATE_DATE IS '생성일';

COMMENT ON COLUMN TBL_CLNDR.CLNDR_CODE IS '캘린더코드';

COMMENT ON COLUMN TBL_CLNDR.CLNDR_NAME IS '캘린더이름';

COMMENT ON COLUMN TBL_CLNDR.LABEL_COLOR IS '라벨컬러';

COMMENT ON COLUMN TBL_CLNDR.DEFAULT_SELC IS '기본값';

COMMENT ON COLUMN TBL_CLNDR.REF_MEMBER_CODE IS '회원코드';

COMMENT ON COLUMN TBL_CLNDR.DPRMT_CODE IS '부서코드';

COMMENT ON TABLE TBL_CLNDR IS '캘린더';

CREATE UNIQUE INDEX TBL_CLNDR_PK ON TBL_CLNDR
( CLNDR_CODE );

ALTER TABLE TBL_CLNDR
 ADD CONSTRAINT TBL_CLNDR_PK PRIMARY KEY ( CLNDR_CODE )
 USING INDEX TBL_CLNDR_PK;


CREATE TABLE TBL_COMMENT
(
    COMMENT_CODE    NUMBER NOT NULL,
    COMMENT_CONTENTS    VARCHAR2(255) NOT NULL,
    POST_CODE    NUMBER NOT NULL,
    MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_COMMENT.COMMENT_CODE IS '댓글코드';

COMMENT ON COLUMN TBL_COMMENT.COMMENT_CONTENTS IS '댓글내용';

COMMENT ON COLUMN TBL_COMMENT.POST_CODE IS '게시글코드';

COMMENT ON COLUMN TBL_COMMENT.MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_COMMENT IS '게시판댓글';

CREATE UNIQUE INDEX TBL_COMMENT_PK ON TBL_COMMENT
( COMMENT_CODE );

ALTER TABLE TBL_COMMENT
 ADD CONSTRAINT TBL_COMMENT_PK PRIMARY KEY ( COMMENT_CODE )
 USING INDEX TBL_COMMENT_PK;


CREATE TABLE TBL_CONTACT
(
    DEPARTMENT    VARCHAR2(255) NOT NULL,
    COMPANY_PHONE    VARCHAR2(255),
    COMPANY_ADDRESS    VARCHAR2(255),
    MEMO    VARCHAR2(255),
    COMPANY    VARCHAR2(255) NOT NULL,
    CONTACT_CODE    NUMBER(25) NOT NULL,
    CONTACT_NAME    VARCHAR2(255) NOT NULL,
    CONTACT_PHONE    VARCHAR2(255) NOT NULL,
    CONTACT_EMAIL    VARCHAR2(255),
    MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_CONTACT.DEPARTMENT IS '부서';

COMMENT ON COLUMN TBL_CONTACT.COMPANY_PHONE IS '회사전화';

COMMENT ON COLUMN TBL_CONTACT.COMPANY_ADDRESS IS '회사주소';

COMMENT ON COLUMN TBL_CONTACT.MEMO IS '메모';

COMMENT ON COLUMN TBL_CONTACT.COMPANY IS '회사';

COMMENT ON COLUMN TBL_CONTACT.CONTACT_CODE IS '주소록코드';

COMMENT ON COLUMN TBL_CONTACT.CONTACT_NAME IS '이름';

COMMENT ON COLUMN TBL_CONTACT.CONTACT_PHONE IS '개인전화';

COMMENT ON COLUMN TBL_CONTACT.CONTACT_EMAIL IS '이메일';

COMMENT ON COLUMN TBL_CONTACT.MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_CONTACT IS '주소록';

CREATE UNIQUE INDEX TBL_CONTACT_PK ON TBL_CONTACT
( CONTACT_CODE );

ALTER TABLE TBL_CONTACT
 ADD CONSTRAINT TBL_CONTACT_PK PRIMARY KEY ( CONTACT_CODE )
 USING INDEX TBL_CONTACT_PK;


CREATE TABLE TBL_DEPT
(
    DEPT_CODE    NUMBER NOT NULL,
    DEPT_NAME    VARCHAR2(50) NOT NULL
);

COMMENT ON COLUMN TBL_DEPT.DEPT_CODE IS '부서코드';

COMMENT ON COLUMN TBL_DEPT.DEPT_NAME IS '부서명';

COMMENT ON TABLE TBL_DEPT IS '부서';

CREATE UNIQUE INDEX TBL_DEPT_PK ON TBL_DEPT
( DEPT_CODE );

ALTER TABLE TBL_DEPT
 ADD CONSTRAINT TBL_DEPT_PK PRIMARY KEY ( DEPT_CODE )
 USING INDEX TBL_DEPT_PK;


CREATE TABLE TBL_DOCFILE
(
    FILE_CODE    NUMBER NOT NULL,
    FILE_NAME    VARCHAR2(300) NOT NULL,
    FILE_ORGIN_NAME    VARCHAR2(300) NOT NULL,
    DOCUMENT_ID    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_DOCFILE.FILE_CODE IS '첨부파일번호';

COMMENT ON COLUMN TBL_DOCFILE.FILE_NAME IS '파일명';

COMMENT ON COLUMN TBL_DOCFILE.FILE_ORGIN_NAME IS '원본파일명';

COMMENT ON COLUMN TBL_DOCFILE.DOCUMENT_ID IS '전자결재번호';

COMMENT ON TABLE TBL_DOCFILE IS '첨부파일';

CREATE UNIQUE INDEX TBL_DOCFILE_PK ON TBL_DOCFILE
( FILE_CODE );

ALTER TABLE TBL_DOCFILE
 ADD CONSTRAINT TBL_DOCFILE_PK PRIMARY KEY ( FILE_CODE )
 USING INDEX TBL_DOCFILE_PK;


CREATE TABLE TBL_DOCREF
(
    REF_CODE    NUMBER NOT NULL,
    DOCUMENT_ID    NUMBER NOT NULL,
    MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_DOCREF.REF_CODE IS '참조번호';

COMMENT ON COLUMN TBL_DOCREF.DOCUMENT_ID IS '전자결재번호';

COMMENT ON COLUMN TBL_DOCREF.MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_DOCREF IS '참조자';

CREATE UNIQUE INDEX TBL_DOCREF_PK ON TBL_DOCREF
( REF_CODE );

ALTER TABLE TBL_DOCREF
 ADD CONSTRAINT TBL_DOCREF_PK PRIMARY KEY ( REF_CODE )
 USING INDEX TBL_DOCREF_PK;


CREATE TABLE TBL_DOCUMENT
(
    DOCUMENT_ID    NUMBER NOT NULL,
    DOCUMENT_TITLE    VARCHAR2(255) NOT NULL,
    DOCUMENT_DATE    TIMESTAMP DEFAULT SYSDATE NOT NULL,
    DOCUMENT_KIND    VARCHAR2(50) NOT NULL,
    DOCUMENT_STATUS    VARCHAR2(50) DEFAULT '결재진행중' NOT NULL,
    DOCUMENT_CONTENT    CLOB,
    CO_DEPT    VARCHAR2(80),
    MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_DOCUMENT.DOCUMENT_ID IS '전자결재번호';

COMMENT ON COLUMN TBL_DOCUMENT.DOCUMENT_TITLE IS '전자결재제목';

COMMENT ON COLUMN TBL_DOCUMENT.DOCUMENT_DATE IS '기안일';

COMMENT ON COLUMN TBL_DOCUMENT.DOCUMENT_KIND IS '전자결재종류';

COMMENT ON COLUMN TBL_DOCUMENT.DOCUMENT_STATUS IS '전자결재상태';

COMMENT ON COLUMN TBL_DOCUMENT.DOCUMENT_CONTENT IS '내용';

COMMENT ON COLUMN TBL_DOCUMENT.CO_DEPT IS '협조부서';

COMMENT ON COLUMN TBL_DOCUMENT.MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_DOCUMENT IS '결재문서';

CREATE UNIQUE INDEX TBL_DOCUMENT_PK ON TBL_DOCUMENT
( DOCUMENT_ID );

ALTER TABLE TBL_DOCUMENT
 ADD CONSTRAINT TBL_DOCUMENT_PK PRIMARY KEY ( DOCUMENT_ID )
 USING INDEX TBL_DOCUMENT_PK;


CREATE TABLE TBL_FVRT_CLNDR
(
    APPROVAL_STATUS    VARCHAR2(60) NOT NULL,
    REQUEST_DATE    TIMESTAMP NOT NULL,
    LABEL_COLOR    VARCHAR2(30) NOT NULL,
    FVRT_CLNDR_ID    NUMBER NOT NULL,
    REF_CLDNR_ID    NUMBER NOT NULL,
    REF_MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_FVRT_CLNDR.APPROVAL_STATUS IS '승인상태';

COMMENT ON COLUMN TBL_FVRT_CLNDR.REQUEST_DATE IS '요청일';

COMMENT ON COLUMN TBL_FVRT_CLNDR.LABEL_COLOR IS '라벨컬러';

COMMENT ON COLUMN TBL_FVRT_CLNDR.FVRT_CLNDR_ID IS '관심캘린더코드';

COMMENT ON COLUMN TBL_FVRT_CLNDR.REF_CLDNR_ID IS '캘린더';

COMMENT ON COLUMN TBL_FVRT_CLNDR.REF_MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_FVRT_CLNDR IS '관심캘린더';

CREATE UNIQUE INDEX TBL_FVRT_CLNDR_PK ON TBL_FVRT_CLNDR
( FVRT_CLNDR_ID );

ALTER TABLE TBL_FVRT_CLNDR
 ADD CONSTRAINT TBL_FVRT_CLNDR_PK PRIMARY KEY ( FVRT_CLNDR_ID )
 USING INDEX TBL_FVRT_CLNDR_PK;


CREATE TABLE TBL_MAIL
(
    MAIL_CODE    NUMBER NOT NULL,
    MAIL_CONTENT    CLOB NOT NULL,
    MAIL_DATE    TIMESTAMP DEFAULT SYSDATE NOT NULL,
    MEMBER_CODE    NUMBER NOT NULL,
    MAIL_STATUS    CHAR(1) DEFAULT 'N' NOT NULL,
    MAIL_TITLE    VARCHAR2(512) NOT NULL
);

COMMENT ON COLUMN TBL_MAIL.MAIL_CODE IS '메일코드';

COMMENT ON COLUMN TBL_MAIL.MAIL_CONTENT IS '내용';

COMMENT ON COLUMN TBL_MAIL.MAIL_DATE IS '날짜';

COMMENT ON COLUMN TBL_MAIL.MEMBER_CODE IS '회원코드';

COMMENT ON COLUMN TBL_MAIL.MAIL_STATUS IS '메일상태';

COMMENT ON COLUMN TBL_MAIL.MAIL_TITLE IS '제목';

COMMENT ON TABLE TBL_MAIL IS '메일';

CREATE UNIQUE INDEX TBL_MAIL_PK ON TBL_MAIL
( MAIL_CODE );

ALTER TABLE TBL_MAIL
 ADD CONSTRAINT TBL_MAIL_PK PRIMARY KEY ( MAIL_CODE )
 USING INDEX TBL_MAIL_PK;


CREATE TABLE TBL_MEMBER
(
    MEMBER_CODE    NUMBER NOT NULL,
    MEMBER_PWD    VARCHAR2(50) NOT NULL,
    MEMBER_NAME    VARCHAR2(30) NOT NULL,
    MEMBER_ID    VARCHAR2(50) NOT NULL,
    MEMBER_EMAIL    VARCHAR2(50) NOT NULL,
    MEMBER_PHONE    VARCHAR2(30) NOT NULL,
    MEMBER_NO    VARCHAR2(30) NOT NULL,
    MEMBER_STATUS    VARCHAR2(2) NOT NULL,
    EXTENSION_NUMBER    VARCHAR2(30),
    MEMBER_ADDRESS    VARCHAR2(255) NOT NULL,
    HIRE_DATE    TIMESTAMP NOT NULL,
    DEPT_CODE    NUMBER NOT NULL,
    MEMBER_PIC    VARCHAR2(500) NOT NULL,
    RANK_CODE    NUMBER NOT NULL,
    MEMBER_OFF    NUMBER DEFAULT 15 NOT NULL
);

COMMENT ON COLUMN TBL_MEMBER.MEMBER_CODE IS '회원코드';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_PWD IS '비밀번호';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_NAME IS '이름';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_ID IS '사번(ID)';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_EMAIL IS '이메일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_PHONE IS '전화번호';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_NO IS '생년월일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_STATUS IS '재직여부';

COMMENT ON COLUMN TBL_MEMBER.EXTENSION_NUMBER IS '내선번호';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_ADDRESS IS '주소';

COMMENT ON COLUMN TBL_MEMBER.HIRE_DATE IS '입사일';

COMMENT ON COLUMN TBL_MEMBER.DEPT_CODE IS '부서코드';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_PIC IS '프로필';

COMMENT ON COLUMN TBL_MEMBER.RANK_CODE IS '직위코드';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_OFF IS '보유연차';

COMMENT ON TABLE TBL_MEMBER IS '직원';

CREATE UNIQUE INDEX TBL_MEMBER_PK ON TBL_MEMBER
( MEMBER_CODE );

ALTER TABLE TBL_MEMBER
 ADD CONSTRAINT TBL_MEMBER_PK PRIMARY KEY ( MEMBER_CODE )
 USING INDEX TBL_MEMBER_PK;


CREATE TABLE TBL_OFF
(
    OFF_CODE    NUMBER NOT NULL,
    OFF_TYPE    VARCHAR2(30) NOT NULL,
    OFF_DATE    TIMESTAMP NOT NULL,
    OFF_DAY    NUMBER NOT NULL,
    OFF_REASON    VARCHAR2(500),
    MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_OFF.OFF_CODE IS '연차사용내역코드';

COMMENT ON COLUMN TBL_OFF.OFF_TYPE IS '연차종류';

COMMENT ON COLUMN TBL_OFF.OFF_DATE IS '연차신청일';

COMMENT ON COLUMN TBL_OFF.OFF_DAY IS '연차일수';

COMMENT ON COLUMN TBL_OFF.OFF_REASON IS '사유';

COMMENT ON COLUMN TBL_OFF.MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_OFF IS '연차사용내역';

CREATE UNIQUE INDEX TBL_OFF_PK ON TBL_OFF
( OFF_CODE );

ALTER TABLE TBL_OFF
 ADD CONSTRAINT TBL_OFF_PK PRIMARY KEY ( OFF_CODE )
 USING INDEX TBL_OFF_PK;


CREATE TABLE TBL_PARTICIPANT
(
    REF_SCHDL_ID    NUMBER NOT NULL,
    REF_MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_PARTICIPANT.REF_SCHDL_ID IS '캘린더';

COMMENT ON COLUMN TBL_PARTICIPANT.REF_MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_PARTICIPANT IS '참석자';

CREATE UNIQUE INDEX TBL_PARTICIPANT_PK ON TBL_PARTICIPANT
( REF_SCHDL_ID,REF_MEMBER_CODE );

ALTER TABLE TBL_PARTICIPANT
 ADD CONSTRAINT TBL_PARTICIPANT_PK PRIMARY KEY ( REF_SCHDL_ID, REF_MEMBER_CODE )
 USING INDEX TBL_PARTICIPANT_PK;


CREATE TABLE TBL_PAYMENT
(
    DOCUMENT_ID    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_PAYMENT.DOCUMENT_ID IS '전자결재번호';

COMMENT ON TABLE TBL_PAYMENT IS '지출결의';

CREATE UNIQUE INDEX TBL_PAYMENT_PK ON TBL_PAYMENT
( DOCUMENT_ID );

ALTER TABLE TBL_PAYMENT
 ADD CONSTRAINT TBL_PAYMENT_PK PRIMARY KEY ( DOCUMENT_ID )
 USING INDEX TBL_PAYMENT_PK;


CREATE TABLE TBL_PAYMENTLIST
(
    PAYMENT_DATE    TIMESTAMP NOT NULL,
    PAYMENT_SORT    VARCHAR2(80) NOT NULL,
    PAYMENT_PRICE    NUMBER NOT NULL,
    PAYMENT_CONTENT    VARCHAR2(255) NOT NULL,
    REMARKS    VARCHAR2(800),
    PAYMENT_REASON    VARCHAR2(255) NOT NULL,
    PAYMENT_CODE    NUMBER NOT NULL,
    DOCUMENT_ID    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_PAYMENTLIST.PAYMENT_DATE IS '지출일자';

COMMENT ON COLUMN TBL_PAYMENTLIST.PAYMENT_SORT IS '지출구분';

COMMENT ON COLUMN TBL_PAYMENTLIST.PAYMENT_PRICE IS '지출금액';

COMMENT ON COLUMN TBL_PAYMENTLIST.PAYMENT_CONTENT IS '지출내역';

COMMENT ON COLUMN TBL_PAYMENTLIST.REMARKS IS '비고';

COMMENT ON COLUMN TBL_PAYMENTLIST.PAYMENT_REASON IS '지출사유';

COMMENT ON COLUMN TBL_PAYMENTLIST.PAYMENT_CODE IS '지출번호';

COMMENT ON COLUMN TBL_PAYMENTLIST.DOCUMENT_ID IS '전자결재번호';

COMMENT ON TABLE TBL_PAYMENTLIST IS '지출목록';

CREATE UNIQUE INDEX TBL_PAYMENTLIST_PK ON TBL_PAYMENTLIST
( PAYMENT_CODE );

ALTER TABLE TBL_PAYMENTLIST
 ADD CONSTRAINT TBL_PAYMENTLIST_PK PRIMARY KEY ( PAYMENT_CODE )
 USING INDEX TBL_PAYMENTLIST_PK;


CREATE TABLE TBL_PHOTO_FILE
(
    MAIL_CODE    NUMBER NOT NULL,
    FILE_DATE    TIMESTAMP DEFAULT SYSDATE NOT NULL,
    FILE_SOURCE_NAME    VARCHAR2(512) NOT NULL,
    FILE_MODIFICATION_NAME    VARCHAR2(512) NOT NULL,
    FILE_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_PHOTO_FILE.MAIL_CODE IS '메일코드';

COMMENT ON COLUMN TBL_PHOTO_FILE.FILE_DATE IS '날짜';

COMMENT ON COLUMN TBL_PHOTO_FILE.FILE_SOURCE_NAME IS '파일원본이름';

COMMENT ON COLUMN TBL_PHOTO_FILE.FILE_MODIFICATION_NAME IS '파일수정이름';

COMMENT ON COLUMN TBL_PHOTO_FILE.FILE_CODE IS '파일코드';

COMMENT ON TABLE TBL_PHOTO_FILE IS '사진파일';

CREATE UNIQUE INDEX TBL_PHOTO_FILE_PK ON TBL_PHOTO_FILE
( FILE_CODE );

ALTER TABLE TBL_PHOTO_FILE
 ADD CONSTRAINT TBL_PHOTO_FILE_PK PRIMARY KEY ( FILE_CODE )
 USING INDEX TBL_PHOTO_FILE_PK;


CREATE TABLE TBL_POST
(
    POST_CODE    NUMBER NOT NULL,
    POST_TITLE    VARCHAR2(512) NOT NULL,
    POST_DATE    DATE NOT NULL,
    POST_CONTENTS    VARCHAR2(512) NOT NULL,
    BOARD_CATEGORY    VARCHAR2(512) NOT NULL,
    BOARD_CODE    NUMBER NOT NULL,
    MEMBER_CODE    NUMBER NOT NULL,
    YEAR_MONTH    DATE NOT NULL
);

COMMENT ON COLUMN TBL_POST.POST_CODE IS '게시글코드';

COMMENT ON COLUMN TBL_POST.POST_TITLE IS '제목';

COMMENT ON COLUMN TBL_POST.POST_DATE IS '작성일';

COMMENT ON COLUMN TBL_POST.POST_CONTENTS IS '내용';

COMMENT ON COLUMN TBL_POST.BOARD_CATEGORY IS '게시판구분';

COMMENT ON COLUMN TBL_POST.BOARD_CODE IS '게시판코드';

COMMENT ON COLUMN TBL_POST.MEMBER_CODE IS '회원코드';

COMMENT ON COLUMN TBL_POST.YEAR_MONTH IS '날짜(달력 년월)';

COMMENT ON TABLE TBL_POST IS '게시글';

CREATE UNIQUE INDEX TBL_POST_PK ON TBL_POST
( POST_CODE );

ALTER TABLE TBL_POST
 ADD CONSTRAINT TBL_POST_PK PRIMARY KEY ( POST_CODE )
 USING INDEX TBL_POST_PK;


CREATE TABLE TBL_RANK
(
    RANK_CODE    NUMBER NOT NULL,
    RANK_NAME    VARCHAR2(50) NOT NULL,
    RANK_PLACE    NUMBER(20) NOT NULL
);

COMMENT ON COLUMN TBL_RANK.RANK_CODE IS '직위코드';

COMMENT ON COLUMN TBL_RANK.RANK_NAME IS '직위명';

COMMENT ON COLUMN TBL_RANK.RANK_PLACE IS '직위순서';

COMMENT ON TABLE TBL_RANK IS '직위';

CREATE UNIQUE INDEX TBL_RANK_PK ON TBL_RANK
( RANK_CODE );

ALTER TABLE TBL_RANK
 ADD CONSTRAINT TBL_RANK_PK PRIMARY KEY ( RANK_CODE )
 USING INDEX TBL_RANK_PK;


CREATE TABLE TBL_REFERENCE
(
    MEMBER_CODE    NUMBER NOT NULL,
    REFERENCE_CODE    NUMBER NOT NULL,
    MAIL_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_REFERENCE.MEMBER_CODE IS '회원코드';

COMMENT ON COLUMN TBL_REFERENCE.REFERENCE_CODE IS '참조코드';

COMMENT ON COLUMN TBL_REFERENCE.MAIL_CODE IS '메일코드';

COMMENT ON TABLE TBL_REFERENCE IS '메일참조';

CREATE UNIQUE INDEX TBL_REFERENCE_PK ON TBL_REFERENCE
( MAIL_CODE,REFERENCE_CODE );

ALTER TABLE TBL_REFERENCE
 ADD CONSTRAINT TBL_REFERENCE_PK PRIMARY KEY ( MAIL_CODE,REFERENCE_CODE )
 USING INDEX TBL_REFERENCE_PK;


CREATE TABLE TBL_SCHDL
(
    SCHDL_ID    NUMBER NOT NULL,
    TITLE    VARCHAR2(512) NOT NULL,
    START_DATE    TIMESTAMP NOT NULL,
    END_DATE    TIMESTAMP NOT NULL,
    ADDRESS    VARCHAR2(512),
    ALL_DAY    SMALLINT NOT NULL,
    COPR_SCHDL    SMALLINT NOT NULL,
    REPEAT    SMALLINT NOT NULL,
    IMPORTANT    SMALLINT NOT NULL,
    CONTENT    CLOB,
    REF_CLNDR_ID    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_SCHDL.SCHDL_ID IS '일정코드';

COMMENT ON COLUMN TBL_SCHDL.TITLE IS '일정명';

COMMENT ON COLUMN TBL_SCHDL.START_DATE IS '시작일';

COMMENT ON COLUMN TBL_SCHDL.END_DATE IS '종료일';

COMMENT ON COLUMN TBL_SCHDL.ADDRESS IS '장소';

COMMENT ON COLUMN TBL_SCHDL.ALL_DAY IS '종일';

COMMENT ON COLUMN TBL_SCHDL.COPR_SCHDL IS '전사일정';

COMMENT ON COLUMN TBL_SCHDL.REPEAT IS '반복';

COMMENT ON COLUMN TBL_SCHDL.IMPORTANT IS '중요';

COMMENT ON COLUMN TBL_SCHDL.CONTENT IS '내용';

COMMENT ON COLUMN TBL_SCHDL.REF_CLNDR_ID IS '캘린더';

COMMENT ON TABLE TBL_SCHDL IS '일정';

CREATE UNIQUE INDEX TBL_SCHDL_PK ON TBL_SCHDL
( SCHDL_ID );

ALTER TABLE TBL_SCHDL
 ADD CONSTRAINT TBL_SCHDL_PK PRIMARY KEY ( SCHDL_ID )
 USING INDEX TBL_SCHDL_PK;


CREATE TABLE TBL_TRASH
(
    TRASH_CODE    NUMBER NOT NULL,
    MAIL_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_TRASH.TRASH_CODE IS '휴지통코드';

COMMENT ON COLUMN TBL_TRASH.MAIL_CODE IS '메일코드';

COMMENT ON TABLE TBL_TRASH IS '휴지통';

CREATE UNIQUE INDEX TBL_TRASH_PK ON TBL_TRASH
( TRASH_CODE );

ALTER TABLE TBL_TRASH
 ADD CONSTRAINT TBL_TRASH_PK PRIMARY KEY ( TRASH_CODE )
 USING INDEX TBL_TRASH_PK;


CREATE TABLE TBL_VACATION
(
    START_DATE    TIMESTAMP NOT NULL,
    END_DATE    TIMESTAMP NOT NULL,
    VACTION_REASON    VARCHAR2(500) NOT NULL,
    DOCUMENT_ID    NUMBER NOT NULL,
    VACATION_SORT    VARCHAR2(80) NOT NULL
);

COMMENT ON COLUMN TBL_VACATION.START_DATE IS '시작날짜';

COMMENT ON COLUMN TBL_VACATION.END_DATE IS '종료날짜';

COMMENT ON COLUMN TBL_VACATION.VACTION_REASON IS '연차사유';

COMMENT ON COLUMN TBL_VACATION.DOCUMENT_ID IS '전자결재번호';

COMMENT ON COLUMN TBL_VACATION.VACATION_SORT IS '연차종류';

COMMENT ON TABLE TBL_VACATION IS '연차신청서';

CREATE UNIQUE INDEX TBL_VACATION_PK ON TBL_VACATION
( DOCUMENT_ID );

ALTER TABLE TBL_VACATION
 ADD CONSTRAINT TBL_VACATION_PK PRIMARY KEY ( DOCUMENT_ID )
 USING INDEX TBL_VACATION_PK;


CREATE TABLE TBL_WORK
(
    TIME_START    TIMESTAMP NOT NULL,
    TIME_END    TIMESTAMP NOT NULL,
    YEAR_MONTH    TIMESTAMP NOT NULL,
    WORK_STATUS    VARCHAR2(30),
    WORK_CODE    NUMBER NOT NULL,
    MEMBER_CODE    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_WORK.TIME_START IS '출근시간';

COMMENT ON COLUMN TBL_WORK.TIME_END IS '퇴근시간';

COMMENT ON COLUMN TBL_WORK.YEAR_MONTH IS '날짜(달력 년월)';

COMMENT ON COLUMN TBL_WORK.WORK_STATUS IS '근무상태';

COMMENT ON COLUMN TBL_WORK.WORK_CODE IS '근무코드';

COMMENT ON COLUMN TBL_WORK.MEMBER_CODE IS '회원코드';

COMMENT ON TABLE TBL_WORK IS '근무현황';

CREATE UNIQUE INDEX TBL_WORK_PK ON TBL_WORK
( WORK_CODE );

ALTER TABLE TBL_WORK
 ADD CONSTRAINT TBL_WORK_PK PRIMARY KEY ( WORK_CODE )
 USING INDEX TBL_WORK_PK;

COMMIT ;